body{
    transition: all .3s;
    letter-spacing: 0.2px;
    position: relative;
    height: 100%;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
*{
    transition: all .3s;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
@font-face{
    font-family: "Lato Regular";
    src: url(Lato-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "GildaDisplay Regular";
    src: url(GildaDisplay-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(Montserrat-Bold.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6{font-family: "GildaDisplay Regular";}
p,a,label,th,td,li, input, textarea{
    font-family: "Lato Regular";
    font-size :  15px;
    letter-spacing: 0.5px;
}
a:hover{
	text-decoration: none;
}
a .text-blue:hover{
	color: #0530b9;
}
.text-brown{
    color: #b7926a;
}
.text-gray{
    color: #514f4c;
}
.text-darkgray{
    color: #2d2d2b;
}
.text-lightgray{
    color: #d3c8be;
}
.background-grey{
    background-color: #d3c8be;
}
.background-lightgrey{
    background-color: #eae6de;
}
.font-montserrat-bold{
    font-family: "Montserrat Bold";
}
.banner-home{
    z-index: 2;
    position: relative;
    background-image: url(../images/background-dark-origin-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    margin-top: -310px;
}
.banner-home .background{
    width: 100%;
    padding-bottom: 120px;
}
.origin-home .background{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}
#navbar-granita{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
}
.nav-granita{
    position: absolute;
    top: 30px;
    left: 40px;
}
.nav-menu{
    position: absolute;
    right: 30px;
    top: 30px;
}
.nav-menu ul{
    display: flex;
    list-style: none;
}
.nav-menu ul li{
    margin: 20px 30px;
}
.nav-menu ul li a{
    color: #fff;
}
.products{
    position: relative;
    z-index: 1;
}
.carousel-homebanner .content-desc{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%);
}
.carousel-homebanner .img-product{
    width: 620px !important;
    float: right;
    margin-top: 120px;
    margin-right: 50px;
}
.carousel-homebanner .owl-dots{
    position: absolute;
    bottom: 120px;
    left: 34.6%;
    transform: translateX(-50%);
}
.origin-home{   
    z-index: 2;
    position: relative;
    background-image: url(../images/background-dark-origin-05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}
.origin-home .ornament_top{
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
    z-index: 2;
}
.origin-home .ornament_bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    transition: none;
    z-index: 2;
}
.origin-home .content{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
.origin-home .title-origin{
    position: absolute;
    top: 27%;
    left: 32%;
    transition: none;
    z-index: 1;
}
.products .product-ornament{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.products .product-img{
    position: relative;
    z-index: 1;
    transition: none;
    margin-top: 250px;
}
.products .button-detail-products{
    margin-top: 10px;
}
.products .button-detail-products .button-products{
    border-color: #fff;
    color: #514f4c;
    font-family: "GildaDisplay Regular";
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px;
}
.products .button-detail-products .button-products:hover{
    background-color: #fff;
}
.granita-ideas{
    background-image: url(../images/granita-ideas-bg.jpg);
    position: relative;
    background-attachment: fixed;
    z-index: 3;
    padding-top: 100px;
    padding-bottom: 70px;
}
.granita-ideas .ornament-top{
    position: absolute;
    top: 200px;
    left: 0;
    transition: none;
}
.footer{
    position: relative;
    z-index: 3;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.underline-brown{
    text-decoration: none; 
    position: relative;
}
.underline-brown::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 6px;
    left: 0;
    right: 0;
    width: 13%;
    background: #b7926a;
}
.hr-form-footer{
    width: 92%;
    margin: 10px auto 0;
    background-color: #bcbcbc;
}
.footer .button-submit{
    border-color: #fff;
    color: #514f4c;
    font-family: "GildaDisplay Regular";
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px;
    font-size: 20px;
}
.footer .button-submit:hover{
    background-color: #fff;
}
.textarea-noresize {
    resize: none;
  }
.product-pages-wrapper{
    background-image: url(../images/bg-dark-products-07.jpg);
    background-size: cover;
    background-position: center top;
    padding-top: 150px;
}
.underline-brown-products::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -16px;
    margin: 0 6px;
    left: 0;
    right: 0;
    width: 43%;
    background: #b7926a;
}
.underline-brown-products {
    text-decoration: none;
    position: relative;
}
.background-grey .divider{
    height: 60%;
    position: absolute;
    width: 1px;
    background-color: #c6ad96;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.product-pages-wrapper .side-content{
    margin-left: 12rem;
}
.product-pages-wrapper{
    padding-bottom: 7.8rem;
}
.carousel-products .owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-products .owl-next{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-products .button-products{
    font-family: "GildaDisplay Regular";
    font-size: 23px;
    color: #514f4c;
    border: 2px solid #fff;
    padding: 5px 17px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
.carousel-products .button-products:hover{
    background-color: #fff;
}
.carousel-products-wrapper{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}
.product-details-wrapper{
    background-image: url(../images/detail-products-bg-08.jpg);
    background-size: cover;
    background-position: center top;
    padding-top: 40px;
    padding-bottom: 60px;
}
.button-buy{
    padding: 10px 25px;
    border: 2px solid #fff;
    color: #b7926a;
    font-family: "GildaDisplay Regular";
    transition: all .3s;
}
.button-buy:hover{
    background-color: #fff;
    color: #b7926a;
}
.dot-stats {
    height: 12px;
    width: 12px;
    background-color: #d3c8be;
    border-radius: 50%;
    display: inline-block;
}
.dot-stats-zero{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #d3c8be;
}
.product-details-bottom .title-product{
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%);
}
.footer .ornament-footer{
    position: absolute;
    right: 0;
    top: -70px;
    width: 20%;
}
.title-our-products{
    margin-bottom: -200px;
}
.bubble-origin{
    background-image: url(../images/bg-content-1-origin-03.png);
    width: 130px;
    padding: 0.3em 0.5em;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 56.3%;
    top: 55%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
}
.bubble-origin::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 10%;
    border-top: 15px solid #b7926a;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateX(-50%);
    opacity: 0.8;
}
.bubble-origin.active{
    width: 480px;
    height: 262px;
    background-size: contain;
    padding: 89px;
    left: 66.6%;
    top: 37.3%;
}
.bubble-origin::after{
    bottom: -14px;
    left: 11%;
}
.title-content.active{
    display: none;
}
.title-content{
    display: block;
}
.content-detail{
    display: none;
    transition: all .3s;
}
.content-detail.active{
    display: block;
}
.close-bubble{
    display: none;
}
.close-bubble.active{
    display: block;
    position: absolute;
    top: 26%;
    right: 13%;
    z-index: 13;
    cursor: pointer;
}
.bubble-content{
    background-image: url(../images/bg-content-1-origin-03.png);
    color: #fff;
    position: absolute;
    left: 66.6%;
    top: 37.2%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 262px;
    background-size: contain;
    padding: 89px;
    visibility: hidden;
    opacity: 0;
}
.bubble-origin-2{
    background: #b7926a;
    width: 130px;
    padding: 0.3em 0.5em;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 23.1%;
    top: 52.6%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.bubble-origin-2::after{
    content: '';
    position: absolute;
    bottom: 33px;
    left: 10%;
    border-bottom: 15px solid #b7926a;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateX(-50%);
}
.bubble-content-2{
    background-image: url(../images/bg-content-2-origin-04.png);
    color: #fff;
    position: absolute;
    left: 23.1%;
    top: 52.6%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 443px;
    height: 262px;
    background-size: contain;
    padding: 30px 86px;
    visibility: visible;
    opacity: 1;
}
.pagi-nations{
    position: sticky;
    top: 80vh;
    z-index: 90;
    color: #fff;
    margin-bottom: 200px;
}
.socmed-links{
    position: sticky;
    top: 60vh;
    z-index: 90;
    color: #fff;
    margin-bottom: 310px;
}
.wrap-links{
    position: absolute;
    right: 70px;
    font-size: 45px;
    color: #b7926a;
    font-family: "GildaDisplay Regular";
}
.wrap-links::after{
    content: '';
    width: 1px;
    height: 150px;
    background-color: #b7926a;
    position: absolute;
    left: 49%;
    top: 79px;
}
.pagi-nations .number{
    position: absolute;
    left: 100px;
    font-size: 45px;
    color: #b7926a;
    font-family: "GildaDisplay Regular";
}
.pagi-nations .number::before{
    content: '';
    width: 1px;
    height: 40px;
    background-color: #b7926a;
    position: absolute;
    left: 10%;
    top: -30px;;
}
.pagi-nations .number::after{
    content: '';
    width: 1px;
    height: 40px;
    background-color: #b7926a;
    position: absolute;
    left: 10%;
    top: 56px;
}