body{
    transition: all .3s;
    letter-spacing: 0.2px;
    position: relative;
    height: 100%;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
*{
    transition: all .3s;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
@font-face{
    font-family: "Lato Regular";
    src: url(Lato-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "GildaDisplay Regular";
    src: url(GildaDisplay-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Montserrat Bold";
    src: url(Montserrat-Bold.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6{font-family: "GildaDisplay Regular";}
p,a,label,th,td,li, input, textarea{
    font-family: "Lato Regular";
    font-size :  15px;
    letter-spacing: 0.5px;
}
a:hover{
	text-decoration: none;
}
a .text-blue:hover{
	color: #0530b9;
}
.text-brown{
    color: #b7926a;
}
.text-gray{
    color: #514f4c;
}
.text-darkgray{
    color: #2d2d2b;
}
.text-lightgray{
    color: #d3c8be;
}
.background-grey{
    background-color: #d3c8be;
}
.background-lightgrey{
    background-color: #eae6de;
}
.font-montserrat-bold{
    font-family: "Montserrat Bold";
}
.banner-home{
    z-index: 2;
    position: relative;
}
.banner-home .background{
    background-image: url(../images/background-dark-grey-05.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
.origin-home .background{
    background-image: url(../images/background-dark-origin-05.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}
.nav-granita .logo{
    position: absolute;
    z-index: 3;
    top: 25px;
    left: 40px;
}
.nav-menu{
    position: absolute;
    right: 40px;
    top: 15px;
    z-index: 3;
}
.nav-menu ul{
    display: flex;
    list-style: none;
}
.nav-menu ul li{
    margin: 20px 30px;
}
.nav-menu ul li a{
    color: #fff;
}
.products{
    position: relative;
    z-index: 1;
}
.carousel-homebanner .content-desc{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%);
}
.carousel-homebanner .img-product{
    width: 620px !important;
    float: right;
    margin-top: 120px;
    margin-right: 50px;
}
.origin-home .ornament_top{
    position: fixed;
    top: 0;
    left: 0;
    transition: none;
}
.origin-home .ornament_bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    transition: none;
}
.origin-home .content{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
.origin-home .title-origin{
    position: fixed;
    top: 34%;
    left: 32%;
    transition: none;
    z-index: 1;
}
.products .product-ornament{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.products .product-img{
    position: relative;
    z-index: 1;
}
.products .button-detail-products{
    margin-top: 100px;
}
.products .button-detail-products .button-products{
    border-color: #fff;
    color: #514f4c;
    font-family: "GildaDisplay Regular";
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px;
}
.products .button-detail-products .button-products:hover{
    background-color: #fff;
}
.granita-ideas{
    background-image: url(../images/granita-ideas-bg.jpg);
    position: relative;
    background-attachment: fixed;
    z-index: 3;
    padding-top: 100px;
    padding-bottom: 70px;
}
.footer{
    position: relative;
    z-index: 3;
}
.underline-brown{
    text-decoration: none; 
    position: relative;
}
.underline-brown::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 6px;
    left: 0;
    right: 0;
    width: 13%;
    background: #b7926a;
}
.hr-form-footer{
    width: 92%;
    margin: 10px auto 0;
    background-color: #bcbcbc;
}
.footer .button-submit{
    border-color: #fff;
    color: #514f4c;
    font-family: "GildaDisplay Regular";
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px;
    font-size: 20px;
}
.footer .button-submit:hover{
    background-color: #fff;
}
.textarea-noresize {
    resize: none;
  }
.product-pages-wrapper{
    background-image: url(../images/bg-dark-products-07.jpg);
    background-size: cover;
    background-position: center top;
    padding-top: 150px;
}
.underline-brown-products::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -16px;
    margin: 0 6px;
    left: 0;
    right: 0;
    width: 43%;
    background: #b7926a;
}
.underline-brown-products {
    text-decoration: none;
    position: relative;
}
.background-grey .divider{
    height: 60%;
    position: absolute;
    width: 1px;
    background-color: #c6ad96;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.product-pages-wrapper .side-content{
    margin-left: 12rem;
}
.product-pages-wrapper{
    padding-bottom: 15rem;
}
.carousel-products .owl-prev{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-products .owl-next{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-products .button-products{
    font-family: "GildaDisplay Regular";
    font-size: 23px;
    color: #514f4c;
    border: 2px solid #fff;
    padding: 5px 17px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
.carousel-products .button-products:hover{
    background-color: #fff;
}
.carousel-products-wrapper{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}